<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.jeromegout.simplycloud"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:name=".Initializer"
		android:theme="@style/AppTheme">
		<activity android:name=".history.HistoryActivity">
			 <intent-filter>
			 <action android:name="android.intent.action.MAIN"/>
			 <category android:name="android.intent.category.LAUNCHER"/>
			 </intent-filter>
		</activity>
		<activity android:name=".selection.SelectionActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
		<activity android:name=".send.UploadActivity"
            android:parentActivityName=".selection.SelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".selection.SelectionActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.google.panorama360+jpg"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>

        </activity>
        <activity android:name=".share.ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <receiver android:name=".hosts.UploadReceiver">
            <intent-filter>
                <action android:name="org.jeromegout.simplycloud.uploadservice.broadcast.status" />
            </intent-filter>

        </receiver>
	</application>

</manifest>